:root {
  --color-first: oklch(57.582% 0.22684 348.883);
  --color-second: oklch(59.511% 0.24243 320.119);
  --color-accent: oklch(26.826% 0.1459 284.5);
}

body {
 /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
 font: 100%/1.5 system-ui;
 max-width: 100ch;
 margin-inline: auto;
 padding: 10px;

 accent-color: var(--color-accent);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

input, textarea, button, select {
  font: inherit;
}

.color-scheme-switch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  font-size: 80%;
  gap: 4px;
}

/* label, button {
  display: block;
  margin-block: 10px 10px;
} */

/* input, textarea, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
} */

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
}

.reading {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.0em;
}


h1 {
    font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.resume-written {
  display: grid;
}

.resume-written h3 {
  color: var(--color-first);
}

.resume-written time {
  color: var(--color-second);
}